body {
    color:burlywood;
    background:rgb(48, 47, 45);
}

h1 {
    color:rgb(128, 87, 34);
    text-align: center;
}

p {
    color:burlywood;
}

button {
    background-color: burlywood;
    color: rgb(128, 87, 34);
    border: 1cm;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    color: rgb(128, 87, 34);
    text-align: center;
}

h3 {
    color: rgb(128, 87, 34);
    text-align: left;
}

h4 {
    color: rgb(128, 87, 34);
    text-align: left;
}

#body {
    text-align: center;
}

#Header {
    background-color: burlywood;
    text-align: center;
}

#icon {
    width: 20px;
    height: 20px;
}