body {
    color:burlywood;
    background:rgb(48, 47, 45);
}

#Header {
    background-color: burlywood;
    text-align: center;
}

#icon {
    width: 20px;
    height: 20px;
}

h1 {
    color:rgb(128, 87, 34);
    background-color: burlywood;
    text-align: center;
}

p {
    color:burlywood;
    text-align: center;
}

button {
    background-color: burlywood;
    color: rgb(128, 87, 34);
    border: 1cm;
}